<div id="search-component" class="container">
  <mat-form-field class="example-full-width">
    <div>
      <mat-label>Hero Search</mat-label>
      <input #searchBox id="search-box" (input)="search(searchBox.value)" matInput placeholder="Hero name">
    </div>
  </mat-form-field>

  <div>
    <mat-list role="list" class="list">
      <mat-list-item role="listitem" *ngFor="let hero of heroes$" class="list__item">
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </mat-list-item>
    </mat-list>
  </div>
</div>