.container {
  min-width: 66.666%;
  flex-grow: 2;
}

.input-new-hero {
  display: flex;
}

.list {
  width: 300px;
  &__item {
    margin: 0.2rem 0;
    border-radius: 2px;
    & a {
      text-decoration: none;
      color: black;
    }
  }
}

.mat-list-item-content {
  display: flex !important  ;
  justify-content: space-between !important;
}
