<div class="container">
  <h2>My Herroes</h2>
  <mat-form-field class="example-full-width">
    <div>
      <mat-label>Add a new hero</mat-label>
      <input [(ngModel)]="heroName" matInput placeholder="Hero name">
    </div>
  </mat-form-field>

  <button (click)="addHero(heroName); heroName=''" [disabled]="!heroName" mat-button>
    Add a new Hero
  </button>

  <div>
    <mat-list role="list" class="list">
      <mat-list-item role="listitem" *ngFor="let hero of heroes" class="list__item">
        <a routerLink="/detail/{{hero.id}}">
          <span>{{hero.id}}</span> {{hero.name}}
        </a>
        <button title="delete hero" (click)="deleteHero(hero)" mat-icon-button>x</button>
      </mat-list-item>
    </mat-list>
  </div>
</div>