h3 {
  color: red;
  font-weight: lighter;
}
.container {
  color: gray;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
